<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>CallMacApi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>HelloV8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>Loader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>hello-world.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>process.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>v8_shell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18BBD3301DFC4A1C00DBA6FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BBD3681DFC4D8C00DBA6FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BBD3941DFC4F0B00DBA6FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BBD3BF1DFC507B00DBA6FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BBD4151DFC61A600DBA6FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20F8BE52501F829CBCF485C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46BA4873DC941CDF8927F764</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A9D55D7AA9E42FC436B44A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFF9AE3A8A3D3D3D9C511DD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
